@using Markdig
@using Markdig.Extensions.LineHighlight.Extensions
@using System.Text
@{
    ViewData["Title"] = "Home Page";
    
    //Markdown Example
    var text = new StringBuilder();
    text.AppendLine("```csharp {3-5, 7}");
    text.AppendLine("public class HelloWorld");
    text.AppendLine("{");
    text.AppendLine("\tpublic void ShowMessage()");
    text.AppendLine("\t{");
    text.AppendLine("\t\tConsole.WriteLine('Hello World');");
    text.AppendLine("\t}");
    text.AppendLine("}");
    text.AppendLine("```");
    
    var pipeline = new MarkdownPipelineBuilder()
        .UseHighlightedCodeBlocks() //use highlighted code blocks 
        .Build();
    var result = Markdown.ToHtml(text.ToString(), pipeline);
}

<div class="text-center">
    <div>
        @Html.Raw(result)
    </div>
</div>